{% extends "base.html" %}

{% block title %}Main Page{% endblock title %}

{% block content %}


{% if logged_in %}


	<div class="container-fluid">
    	<div class="row">
        
        	<div class="col-md-3">
                <p><a href="/">Send a Message</a></p>
                <p><a href="/inbox">Inbox</a></p>
                <p><a href="/sent_messages">Sent Messages</a></p>
            </div>
            
            <div class="col-md-9">
         
            	<h2>Send a message to a friend.</h2>
            	<form method="post">
                    <p><input name="receiver" placeholder="Name of friend" required></p>
                    <p><input name="subject" placeholder="subject"></p>
                    <p><textarea name="text" rows="5" placeholder="Your Message"></textarea></p>
                    <button type="submit" class="button">Send</button>
            	</form>
        
         	</div>
            
         </div>
    </div>
    
    	




    {% else %}
    
    	<div class="container-fluid">
		<div id="centerlogin">
            <h1>Welcome to BMail. One account. All of Boogle.</h1>
            <p class="joinus">Hey anonymous you! Please join us and login.</p>
            <a href="{{ login_url }}" class="button">
            	Login
            </a>
            <div id="bigsmile"> 
            	B-)
            </div>
        </div>
        </div>



{% endif %}

{% endblock content %}






